<main class="main-content">
    <div class="brand-grid">
        <div class="brandTable">
            <div class="card">
                <div class="header">
                    <h3>Brand List</h3>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#addBrand">Add New Brand
                        <span class="las la-add"></span>
                    </button>
                </div>

                <!-- Add Category Modal -->
                <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/admin/brand/addBrand" method="post" onsubmit="return brandValidate()">
                                <div class="modal-body">
                                    <div>
                                        <label for="">Brand Name</label>
                                        <input type="text" name="brandName" id="brandName">
                                        <span class="validationError" id="brandError"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                    <button type="submit" class="btn btn-primary">SAVE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Update Category Modal -->
                <div class="modal fade" id="updateBrand" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/admin/brand/update" method="post">
                                <div class="modal-body">
                                    <input type="text" style="display: none;" id="brandID" name="brandID">
                                    <div>
                                        <label for="">Brand Name</label>
                                        <input type="text" name="editBrandName" id="editBrandName" value="">
                                        <span id="brandError"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%" id="brand_table">
                            <thead>
                                <tr>
                                    <th>SL NO.</th>
                                    <th>Brand Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i=0; i<brand.length; i++) { %>
                                    <tr class="table-data">
                                        <td class="slno"></td>
                                        <td>
                                            <%= brand[i].brandName %>
                                        </td>
                                        <td>
                                            <a style=" text-decoration: none; border-radius: 20px; padding: 10px; color: #fff; border: 0px; background: #5E4548;"
                                                data-bs-toggle="modal" data-bs-target="#updateBrand"
                                                onclick="brandEdit('<%= brand[i]._id %>','<%= brand[i].brandName %>')">Edit</a>
                                            <a style="text-decoration: none; background: #0d6efd; border-radius: 20px; padding: 10px; color: #fff; border: 0px;"
                                                href="/admin/brand/delete?id=<%= brand[i]._id %>"
                                                >Delete</a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function brandEdit(id, brandName) {
        let brandEditField = document.getElementById('editBrandName');
        let brandID = document.getElementById('brandID');

        brandEditField.value = brandName;
        brandID.value = id
    }

    $(document).ready(function () {
        $('#brand_table').DataTable();
    });
</script>