

<main class="main-content">
    <div class="brand-grid">
        <div class="brandTable">
            <div class="card">
                <div class="header">
                    <h3>Brand List</h3>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#addBrand">Add New Brand
                        <span class="las la-add"></span>
                    </button>
                </div>

                <!-- Add Category Modal -->
                <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/admin/brand/addBrand" method="post"
                                onsubmit="return brandValidate()">
                                <div class="modal-body">
                                    <div>
                                        <label for="">Brand Name</label>
                                        <input type="text" name="brandName" id="brandName">
                                        <span class="validationError" id="brandError"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                    <button type="submit" class="btn btn-primary">SAVE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Update Category Modal -->
                <div class="modal fade" id="updateBrand" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="" method="post"
                                onsubmit="return brandValidate()">
                                <div class="modal-body">
                                    <div>
                                        <label for="">Brand Name</label>
                                        <input type="text" name="brandName" id="brandName" value="">
                                        <span id="brandError"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>SL NO.</td>
                                    <td>Brand Name</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i=0; i<brand.length; i++) { %>
                                    <tr class="table-data">
                                        <td class="slno"></td>
                                        <td>
                                            <%= brand[i].brandName %>
                                        </td>
                                        <td>
                                            <a style="background: #5E4548;" href="/admin/brand/edit?id=<%= brand[i]._id %>"
                                                class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#updateBrand">Edit</a>
                                            <a style="background: #B05541;" href="/admin/brand/delete?id=<%= brand[i]._id %>"
                                                class="btn btn-primary">Delete</a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>