<!-- <main class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <table>
                    <tr>
                        <div>
                            <td>Offer Name</td>
                            <td>:</td>
                        </div>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <div>
                            <td>Offer Type</td>
                            <td>:</td>
                        </div>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <div>
                            <td>Method</td>
                            <td>:</td>
                        </div>
                        <td>
                            <select name="" id="">
                                <option value="Flat">Flat</option>
                                <option value="Percentage">Percentage</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <div>
                            <td>Start Date & Time</td>
                            <td>:</td>
                        </div>
                        <td><input type="date"></td>
                        <td><input type="time"></td>
                    </tr>
                    <tr>
                        <div>
                            <td>End Date & Time</td>
                            <td>:</td>
                        </div>
                        <td><input type="date"></td>
                        <td><input type="time"></td>
                    </tr>
                    <tr>
                        <div>
                            <td>Discount Amount</td>
                            <td>:</td>
                        </div>
                        <td><input type="number"></td>
                    </tr>
                    <tr>
                        <div>
                            <td>Discount Percentage</td>
                            <td>:</td>
                        </div>
                        <td><input type="number"></td>
                    </tr>
                    <tr>
                        <div>
                            <td>Minimum Amount</td>
                            <td>:</td>
                        </div>
                        <td><input type="number"></td>
                    </tr>
                    <tr>
                        <div>
                            <td>Maximum Usage</td>
                            <td>:</td>
                        </div>
                        <td><input type="number"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main> -->


<main class="main-content">
    <div class="product-grid">
        <div class="card">
            <div class="header">
                <h3>Add Coupon</h3>
            </div>
            <div class="card-body">
                <div>
                    <form action="" id="addOfferForm">
                        <div class="mb-3 d-flex">
                            <div style="width: 25%;" class="me-2">
                                <label for="" class="form-label">Offer Name</label>
                                <input type="text" class="form-control" name="offer_Name"
                                    style="text-transform: capitalize;">
                            </div>
                            <div style="width: 25%;" class="me-2">
                                <label for="" class="form-label">Coupon Code</label>
                                <input type="text" class="form-control" name="coupon_Code"
                                    style="text-transform: uppercase;">
                            </div>
                            <div style="width: 25%;" class="ms-2 me-2">
                                <label for="" class="form-label">Offer Type</label>
                                <select id="offerType" class="form-select" name="offer_Type">
                                    <option value=""></option>
                                    <option value="Flat">Flat</option>
                                    <option value="Percentage">Percentage</option>
                                </select>
                            </div>
                            <div style="width: 25%;" class="ms-2">
                                <label for="" class="form-label">Method</label>
                                <select id="" class="form-select" name="offer_Method">
                                    <option value=""></option>
                                    <option value="Voucher">Voucher</option>
                                    <option value="Coupon">Coupon</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <div style="width: 25%;" class="me-3">
                                <label for="" class="form-label">Start Date & Time</label>
                                <input type="date" class="form-control"  name="start_Date">
                            </div>
                            <div style="width: 25%;" class="me-2">
                                <label for="" class="form-label">End Date & Time</label>
                                <input type="date" class="form-control"  name="end_Date">
                            </div>
                            <div style="width: 25%;" class="ms-2 me-2">
                                <label for="" class="form-label">Discount Amount</label>
                                <input type="number" class="form-control" id="couponAmount" disabled
                                    name="discount_Amount">
                            </div>
                            <div style="width: 25%;" class="me-2">
                                <label for="" class="form-label">Discount Percentage</label>
                                <input type="number" class="form-control" id="couponPercentage" disabled
                                    name="discount_Percentage">
                            </div>
                        </div>
                        <div class="mb-3 d-flex">
                            <div style="width: 50%;" class="me-2">
                                <label for="" class="form-label">Minimum Amount in the Cart</label>
                                <input type="number" class="form-control" name="minimum_Amount">
                            </div>
                            <div style="width: 50%;" class="me-2">
                                <label for="" class="form-label">Maximum Total Usage</label>
                                <input type="number" class="form-control" name="total_User">
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


<script>
    let offerType = document.getElementById('offerType')
    offerType.addEventListener('change', (e) => {
        e.preventDefault()
        if (offerType.value == "Flat") {
            document.getElementById('couponAmount').disabled = false
            document.getElementById('couponPercentage').disabled = true
        } else if (offerType.value == "Percentage") {
            document.getElementById('couponAmount').disabled = true
            document.getElementById('couponPercentage').disabled = false
        } else {
            document.getElementById('couponAmount').disabled = true
            document.getElementById('couponPercentage').disabled = true
        }
    })

    let addOfferForm = document.getElementById('addOfferForm')
    addOfferForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = new FormData(addOfferForm);

        //Converting the data to Json object
        const data = Object.fromEntries(formData)

        fetch('/admin/coupon/add', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        }).then((response) => {
            window.location.reload()
        }).catch((error) => {
            console.log(error.message);
        })
    })
</script>