<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="lab la-accusoft"></span>MyCam <span style="font-size: 20px; color: #B09141;"> ~ Admin Panel</span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/admin"><span class="las la-igloo"></span>
                <span>Dashboard</span></a>
            </li>
            <li>
                <a href="/admin/Category"><span class="las la-folder"></span>
                <span>Category</span></a>
            </li>
            <li>
                <a href="/admin/brand"><span class="las la-outdent"></span>
                <span>Brand</span></a>
            </li>
            <li>
                <a href="/admin/productManagement"><span class="lab la-buffer"></span>
                <span>Products</span></a>
            </li>
            <li>
                <a href="/admin/userManagement"><span class="las la-user"></span>
                <span>User Management</span></a>
            </li>
            <li>
                <a href="/admin/silderImage"><span class="las la-image"></span>
                <span>Slider Image</span></a>
            </li>
            <li>
                <a href="/admin/orders"><span class="las la-luggage-cart"></span>
                <span>Orders</span></a>
            </li>
            <li>
                <a href="/admin/coupon"><span class="las la-luggage-cart"></span>
                <span>Coupons</span></a>
            </li>
        </ul>
    </div>
</div>
