<section class="userNavbar mb-30">
  <nav class="navbar navbar-expand-lg user-navabr">
    <div class="container">
      <a class="navbar-brand" href=""><span class="homeNavBarTitle">MyCam</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Category
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DSLR</a></li>
                <li><a class="dropdown-item" href="#">Sports & Action</a></li>
                <li><a class="dropdown-item" href="#">Lens</a></li>
                <li><a class="dropdown-item" href="#">Tripods</a></li>
                <li><a class="dropdown-item" href="#">Cards</a></li>
                <li><a class="dropdown-item" href="#">Battery</a></li>
                <li><a class="dropdown-item" href="#">Bags</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
            </li>
          </ul>
          <button class="btn login-btn" type="submit">Login</button>
        </div>
    </div>
  </nav>
</section>