<section class="footer">
    <div class="container-fluid bg-dark pt-5" style="color: #f5f5f5;">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores aut facere
                    earum
                    voluptatibus repudiandae aliquam dicta, nam praesentium illum libero id perferendis qui, magni
                    perspiciatis! Porro explicabo inventore harum.</p>
                <p class="mb-2">
                    <i class="material-symbols-outlined" style="color: #FFD333; padding-right: 10px;">
                        location_on
                    </i>
                    123 Street, New York, USA
                </p>
                <p class="mb-2">
                    <i class="material-symbols-outlined" style="color: #FFD333; padding-right: 10px;">
                        mail
                    </i>
                    jibiyyan@gmail.com
                </p>
                <p class="mb-2">
                    <i class="material-symbols-outlined" style="color: #FFD333; padding-right: 10px;">
                        call
                    </i>
                    +91 8893 4828 60
                </p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h5 class="text-uppercase mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a href="#" class="mb-2 cat-link">
                                <i class="las la-angle-right"></i>
                                Home
                            </a>
                            <a href="#" class="mb-2 cat-link">
                                <i class="las la-angle-right"></i>
                                Category
                            </a>
                            <a href="#" class="mb-2 cat-link">
                                <i class="las la-angle-right"></i>
                                Contact Us
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h5 class="text-uppercase mb-4 text-align-center">Social Media</h5>
                        <div class="d-flex justify-content-start">
                            <a href="" class="btn btn-square" style="background: #FFD333; margin-right: 10px;">
                                <li class="lab la-twitter"></li>
                            </a>
                            <a href="" class="btn btn-square" style="background: #FFD333; margin-right: 10px;">
                                <li class="lab la-facebook-f"></li>
                            </a>
                            <a href="" class="btn btn-square" style="background: #FFD333; margin-right: 10px;">
                                <i class="lab la-linkedin-in"></i>
                            </a>
                            <a href="" class="btn btn-square" style="background: #FFD333; margin-right: 10px;">
                                <i class="lab la-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }
</style>