<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>

<div id="root">
  <label> Units: </label> <br>
  <input v-model="units" type="number" step="1" min="0"> <br>
  <label> Price: </label> <br>
  <input v-model="price" type="number" step=".01" min="0">

  <p>  $ {{ totalPrice }} </p>
</div>
<script>
    let vm = new Vue({
  el : "#root",
  data : {
    units: 0,
    price: 0.0
  },
  computed : {
    totalPrice : function() {
      return this.units * this.price;
    }
  }
});
</script>
</body>
</html>