<div style="background: #eeeeee;">
    <div class="container-fluid pb-5" style="padding-top: 30px;">
        <div class="row px-xl-5">
            <div class="col-lg-8 mb-3" style="display: block;  overflow-x: auto;">
                <table class="table table-hover text-center" style="background-color: #fff;">
                    <thead style="background-color: #3D464D; color: #fff;">
                        <tr style="border-bottom: 15px solid #f5f5f5;">
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quanity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr style="border-bottom: 15px solid #f5f5f5;">
                            <td>
                                <img src="img/sunset.jpg" alt="Sorry" width="50px">
                                <a href="" style="text-decoration: none; color: #6C757D">Product Name</a>
                            </td>
                            <td>$56</td>
                            <td>
                                <div class="mx-auto d-flex" style="width: 100px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" value="1" style="width: 1%; flex: 1 1 auto; background: #f5f5f5; border: 0; padding: 0 5px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>$76</td>
                            <td>
                                <button class="btn btn-danger" style="padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                    <i class="las la-times"></i>
                                </button>
                            </td>
                        </tr>
                        <tr style="border-bottom: 15px solid #f5f5f5;">
                            <td>
                                <img src="img/sunset.jpg" alt="Sorry" width="50px">
                                <a href="" style="text-decoration: none; color: #6C757D">Product Name</a>
                            </td>
                            <td>$56</td>
                            <td>
                                <div class="mx-auto d-flex" style="width: 100px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" value="1" style="width: 1%; flex: 1 1 auto; background: #f5f5f5; border: 0; padding: 0 5px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>$76</td>
                            <td>
                                <button class="btn btn-danger" style="padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                    <i class="las la-times"></i>
                                </button>
                            </td>
                        </tr>
                        <tr style="border-bottom: 15px solid #f5f5f5;">
                            <td>
                                <img src="img/sunset.jpg" alt="Sorry" width="50px">
                                <a href="" style="text-decoration: none; color: #6C757D">Product Name</a>
                            </td>
                            <td>$56</td>
                            <td>
                                <div class="mx-auto d-flex" style="width: 100px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" value="1" style="width: 1%; flex: 1 1 auto; background: #f5f5f5; border: 0; padding: 0 5px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>$76</td>
                            <td>
                                <button class="btn btn-danger" style="padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                    <i class="las la-times"></i>
                                </button>
                            </td>
                        </tr>
                        <tr style="border-bottom: 15px solid #f5f5f5;">
                            <td>
                                <img src="img/sunset.jpg" alt="Sorry" width="50px">
                                <a href="" style="text-decoration: none; color: #6C757D">Product Name</a>
                            </td>
                            <td>$56</td>
                            <td>
                                <div class="mx-auto d-flex" style="width: 100px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" value="1" style="width: 1%; flex: 1 1 auto; background: #f5f5f5; border: 0; padding: 0 5px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>$76</td>
                            <td>
                                <button class="btn btn-danger" style="padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                    <i class="las la-times"></i>
                                </button>
                            </td>
                        </tr>
                        <tr style="border-bottom: 15px solid #f5f5f5;">
                            <td>
                                <img src="img/sunset.jpg" alt="Sorry" width="50px">
                                <a href="" style="text-decoration: none; color: #6C757D">Product Name</a>
                            </td>
                            <td>$56</td>
                            <td>
                                <div class="mx-auto d-flex" style="width: 100px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" value="1" style="width: 1%; flex: 1 1 auto; background: #f5f5f5; border: 0; padding: 0 5px;">
                                    <div>
                                        <button class="btn" style="background: #FFD333; border-radius: 0;padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                            <i class="las la-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>$76</td>
                            <td>
                                <button class="btn btn-danger" style="padding: 0.35rem 0.5rem; font-size: 0.875rem;">
                                    <i class="las la-times"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-4">
                <h5 class="mb-3 text-uppercase" style="line-height: 1.2;">Cart Summary</h5>
                <div class="bg-light mb-5" style="padding: 30px;">
                    <div class="pb-2" style="border-bottom: 1px solid #dee2e6">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Sub Total</h6>
                            <h6>$98</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6>Shipping</h6>
                            <h6>$98</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>$097</h5>
                        </div>
                        <button style="font-weight: 700; width: 100%; color: #3D464D; background: #FFD333; border: 0;" class="my-3 py-3">Procced to Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>