<div style="background: #eeeeee;">
    <div class="container-fluid pb-5" style="padding-top: 30px;">
        <div class="row px-xl-5">
            <section class="contact" id="contact">
                <div class="heading" style="text-align: center;">
                    <h2>Contact</h2>
                    <span>Connect With Me</span>
                </div>
                <div class="contact-form">
                    <form action="#" id="form" name="contactform" >
                        <input type="text" id="name" name="Name" placeholder="Your Name">
                        <input type="email" name="Email" id="email" placeholder="Your Email">
                        <textarea name="Message" id="message" cols="30" rows="10"
                            placeholder="Write Message Here..."></textarea>
                        <input type="submit" value="Send" class="contact-button">
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>