<!-- <div style="background: #F5F5F5;">
    <div class="container-fluid ps-5 pe-5 pt-4 mb-4">
        <div class="row">
            <div class="col-lg-4 mb-4">
                
            </div>
            
        </div>
    </div>


    <div class="container-fluid ps-5 pe-5">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="bg-secondary p-3">
                    hh
                </div>
            </div>
        </div>
    </div>
</div> -->


<div style="background: #eeeeee;">
    <div class="container-fluid pb-5" style="padding-top: 30px;">
        <div class="row px-xl-5">
            <div class="col-lg-5" style="margin-bottom: 30px;">
                <div class="bg-secondary">
                    <div class="bg-primary p-3" style=" width: 100%; height: 492px;">
                        <img src="img/test/images.jpg" alt="" width="100%" height="100%" style="object-fit:cover;">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 h-auto" style="margin-bottom: 30px;">
                <div class="" style="padding: 30px; height:100%; background: #fff;">
                    <h3 style="font-weight: 700;">Product Name</h3>
                    <div style="display: flex;">
                        <h3 style="font-weight: 700;" class=" me-3">$150</h3>
                        <h4 style="font-weight: 700; text-decoration: line-through; color: #6C757D;" class="mb-4">$150</h4>
                    </div>
                    <div class="d-flex">
                        <span style="font-weight: 600;">Description : </span>
                        <p style="color: #6C757D;">fvghj</p>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="d-flex" style="width:130px; margin-right: 1rem; position: relative">
                            <div>
                                <button class="btn btn-primary"
                                    style="color: #3D464D; background-color: #FFD333; border-color: #FFD333; border-radius: 0;">
                                    <i class="las la-minus"></i>
                                </button>
                            </div>
                            <input type="text"
                                style="font-weight: 900; width: 42px; border-radius: 0; text-align: center; background: #F5F5F5;"
                                class="form-control border-0" value="1">
                            <div>
                                <button class="btn btn-primary"
                                    style="color: #3D464D; background-color: #FFD333; border-color: #FFD333; border-radius: 0;">
                                    <i class="las la-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary px-3"
                            style="color: #3D464D; background-color: #FFD333; border-color: #FFD333; border-radius: 0;">
                            <i class="las la-shopping-cart ms-1"></i>
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-xl-5">
            <div class="col">
                <div style="background: #fff; padding: 30px;">
                    <nav class="mb-4">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">Description</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">Specification</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                aria-selected="false">Review</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab" tabindex="0">
                            <h4 class="mb-3">Product Description</h4>
                            <p style="color: #6C757D;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus blanditiis cumque
                                perferendis ab voluptas quos dignissimos beatae esse, unde ad et itaque repellendus.
                                Quaerat
                                fugit ut, eveniet quas hic illum. Lorem ipsum dolor sit, amet consectetur adipisicing
                                elit.
                                Officiis ex placeat et consequatur hic optio? Natus rem, quod quibusdam inventore
                                praesentium, esse ex a ea nihil iusto nemo! Voluptas, unde?
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                            tabindex="0">
                            <h4 class="mb-3">Product Specification</h4>
                            <p style="color: #6C757D;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit suscipit voluptate
                                architecto.
                                Nobis, alias numquam! Iste, omnis. Totam aperiam, exercitationem quod quam, est
                                cupiditate
                                molestiae illo officiis, dolor eaque at?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsum saepe culpa sit rem
                                omnis
                                necessitatibus dolorum numquam nemo, beatae ipsa nihil nam veniam, dolorem tempora
                                aliquid
                                nesciunt perferendis eligendi.
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel doloribus tempora
                                distinctio
                                esse veniam deserunt quaerat deleniti nemo laborum, nisi quisquam quis, rerum itaque,
                                recusandae corporis repudiandae. Fuga, eius mollitia!
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt totam rerum ipsum
                                possimus,
                                animi voluptatum? Fugiat incidunt excepturi at dolor, sequi atque culpa tenetur esse eos
                                ipsa blanditiis nam dolores?
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet est commodi vel, quia ad
                                laborum cupiditate fugit? Quis fugiat id, voluptas, vero quo velit adipisci recusandae
                                amet
                                molestiae doloribus accusamus!
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                            tabindex="0">
                            <h4 class="mb-3">Product Review</h4>
                            <p style="color: #6C757D;">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur natus minima
                                similique et, unde dolorem nulla mollitia dolores eligendi quidem, nostrum quam ab
                                tempore laboriosam ratione sapiente. Doloribus, laboriosam est.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>