
<section class="userPage">
    <div class="container">
        <div class="header">
            <h2>SIGNUP</h2>
        </div>
        <form class="form" action="/userSignUp" method="post" onsubmit="return signupValidate()">
            <% if(locals.errMsg){%>
                <div class="errorstyle">
                    <p style="text-align:center; color: rgb(255, 0, 0);">
                        <%= errMsg %>
                    </p>
                </div>
            <% } %>
            <div class="form-control">
                <label for="username">First Name</label>
                <input type="text" placeholder="Enter your First Name" name="first_Name" id="first_Name"/>
                <small id="fnameError"></small>
            </div>
            <div class="form-control">
                <label for="username">Last Name</label>
                <input type="text" placeholder="Enter your Last Name" name="last_Name" id="last_Name"/>
                <small id="lnameError"></small>
            </div>
            <div class="form-control">
                <label for="username">User Name</label>
                <input type="text" placeholder="Enter your User Name" name="user_Name" id="user_Name"/>
                <small id="unameError"></small>
            </div>
            <div class="form-control">
                <label for="username">Email</label>
                <input type="email" placeholder="Enter your Email" name="user_Email" id="user_Email"/>
                <small id="emailError"></small>
            </div>
            <div class="form-control">
                <label for="username">Mobile No.</label>
                <input type="number" placeholder="Enter your Mobile No." name="mobile_No" id="mobile_No"/>
                <small id="mobileError"></small>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" placeholder="Enter your Password" name="password" id="password"/>
                <small id="passwordError"></small>
            </div>
            <div class="form-control">
                <label for="password">Confirm Password</label>
                <input type="password" placeholder="Enter your Confirm Password" name="confirm_Password" id="confirm_Password"/>
                <small id="confirmPaswordError"></small>
            </div>
            <div style="text-align: right;">
                <span>Do You have an Account?
                                    
            <a class="pe-3" href="/login" class="text signup-text">Login Now</a>
                </span>
            </div>
            <button type="submit">Signup Now</button>
        </form>
    </div>
</section>