<section class="userPage">
    <div class="container">
        <div class="header">
            <h2>LOGIN</h2>
        </div>
        <form class="form"  action="/userLogin" method="post" onsubmit="return loginValidate()">
            <% if(locals.errMsg){%>
                <div class="errorstyle">
                    <p style="text-align:center; color: rgb(255, 0, 0);">
                        <%= errMsg %>
                    </p>
                </div>
                <% } %>
            <div class="form-control">
                <label for="username">Email</label>
                <input type="email" placeholder="Enter your Email" name="user_Email" id="user_Email" />
                <small id="emailError"></small>
            </div>
            <div class="form-control">
                <label for="username">Password</label>
                <input type="password" placeholder="Enter your Password" name="password" id="password"/>
                <small id="passwordError"></small>
            </div>
            <div style="text-align: right;">                
            <a class="pe-3" href="/signup" class="text signup-text">Signup Now</a>
            </div>
            <button type="submit">Login Now</button>
        </form>
    </div>
</section>