
<section class="userPage">
    <div class="container-fluid bg-success pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="form-container user-signup">
                <form action="" method="post" onsubmit="">
                    <div>
                        <h2>LOGIN</h2>
                    </div>
                    <div class="signup-data">                        
                        <div class="mb-2">
                            <label for="" style="width: 150px;">Email</label>
                            <input type="email" placeholder="Email" name="user_Email" id="user_Email">
                            <div>
                                <span style="color: rgb(255, 0, 0);" class="error" id="emailError"></span>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="" style="width: 150px;">Password</label>
                            <input type="password" placeholder="Password" name="password" id="password">
                            <div>
                                <span style="color: rgb(255, 0, 0);" class="error" id="passwordError"></span>
                            </div>
                        </div>           
                        <input class="btn" type="submit" value="SignUp">
                    </div>
                </form>
                <div class="ms-5 mt-3">
                    <span for="">Create a New Account?</span>
                    <a href="/signup" class="ms-2" style="text-decoration: none; font-size: 20px;">Signup</a>
                </div>
            </div>
        </div>
    </div>
</section>